<div class="row">
    <div class="col-md-12 py-5">
        <div class="card">
            <div class="card-body">
                <p>This is the home page and it takes the full width of the layout</p>
                <a href="/about">About</a>
            </div>
        </div>
    </div>
</div>